<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Article Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Analyze IndianExpress News Articles</h2>
        <form action="/submit" method="post">
            <input type="text" id="url" name="url" placeholder="Enter the URL of the news article">
            <button type="submit">Analyze</button>
            <br>
            {{ text }}
        </form>
        <form action="/login_page">
            <button type="submit">Admin Login</button>
        </form>
        
    </div>
</body>
</html> -->
{% extends 'base.html' %}

{% block title %}News Article Analyzer{% endblock %}

{% block content %}
<div class="welcome">
<h2>Explore the world of news with our News Article Analyzer.</h2> 
<h2>Get insights into IndianExpress articles instantly!</h2>
</div>
<div class="container">
    <h3>Paste Your URL From IndianExpress!</h3>
    <form action="/submit" method="post">
        <input type="text" id="url" name="url" placeholder="Enter the URL of the news article">
        <button type="submit"><b>Analyze</b></button>
        <br>
        {{ text }}
    </form>
</div>
{% endblock %}


