<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plain Text</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Plain Text</h1>
        <p>{{ news_text[0][0] }}</p>
    </div>
</body>
</html> -->
{% extends 'base.html' %}

{% block title %}plain_text{% endblock %}
{% block content %}
<div class="content">
    <h1>Plain Text</h1>
    <p>{{ news_text[0][0] }}</p>
</div>
{% endblock %}
